{% extends 'OhDeerAppBundle::layout.html.twig' %}

{% block content_header '' %}   

{% block content %}
<table id='productos' class="records_list display tablas" width="100%">
    <thead>
        <tr>
            <th width="5%">Id</th>
            <th width="10%">Codigo</th>
            <th width="15%">Categoría</th>
            <th width="45%">Descripcion</th>            
            <th width="5%">Stock</th>            
            <th width="5%">Costo</th>
            <th width="10%">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('producto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>           
            <td>{{ entity.codigo }}</td>
            <td>{{ entity.categoria }}</td>
            <td>{{ entity.descripcion }}</td>            
            <td>{{ entity.cantidad }}</td>            
            <td class='moneda'>{{ entity.costopesos }}</td>    
            <td>
                <table width="100%">
                <tr>
                    <td width="50%">
                        <a href="{{ path('producto_show', { 'id': entity.id }) }}">
                            <img src="{{ asset('bundles/OhDeer/images/search_16.png') }}" />
                        </a>
                    </td>
                    <td width="50%">
                        <a href="{{ path('producto_edit', { 'id': entity.id }) }}">
                            <img src="{{ asset('bundles/OhDeer/images/pencil_16.png') }}" />
                        </a>
                    </td>                    
                </tr>
                </table>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<ul>
    <li>
        <a href="{{ path('producto_new') }}">
            Nuevo producto
        </a>
    </li>    
</ul>
<script>
$(document).ready(function(){  
    $('#productos').dataTable({
        "bJQueryUI": true,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bSort": true,
        "bInfo": true,
        "bAutoWidth": false,
        "sScrollY": "270px"
    });	

    var html="<label style='font-size:20px;font-weight:bolder;text-transform:uppercase;color:grey'>Listado Productos</h1>";
    $(html).appendTo('#productos_wrapper .fg-toolbar:first');

    $('.moneda').each(function(){
        $(this).text('$'+$(this).text());
    });

    $('#productos tbody tr').live('hover',function(){
            $(this).addClass('row_selected');
    });

    $('#productos tbody tr').live('mouseleave',function(){
            $(this).removeClass('row_selected');
    });

});
</script>

{% endblock %}
