{% extends 'OhDeerAppBundle::layout.html.twig' %}

{% block title %}Symfony - Welcome{% endblock %}

{% block content_header '' %}

{% block content %}

    <h1>Sistema de control de inventario</h1>
    <br />
    <p>Bienvenido al sistema de control de inventario Oh Deer!. Seleccione alguna de las opciones del menú principal</p>

    <div class="symfony-blocks-welcome">
        <div class="block-quick-tour">
            <div class="illustration">
                <img src="{{ asset('bundles/OhDeer/images/productos.gif') }}" alt="Inventario" />
            </div>
            <a href="{{ path('oh_deer_app_inventario') }}">Inventario</a>
        </div>        
        <div class="block-configure">
            <div class="illustration">
                <img src="{{ asset('bundles/OhDeer/images/ventas.gif') }}" alt="ventas" />
            </div>
            <a href="{{ path('_configurator_home') }}">Ventas</a>
        </div>        
        <div class="block-demo">
            <div class="illustration">
                <img src="{{ asset('bundles/OhDeer/images/pedidos.gif') }}" alt="Demo" />
            </div>
            <a href="{{ path('oh_deer_app_ventas') }}">Reposiciones</a>
        </div>
    </div>

{% endblock %}
